<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <targets>
    <target id ="consoleConfig" logTarget ="console" format="${datetime} | ${level} | ${message} ${callerFileName} : ${callerLineNumber}">
      <option category="color" id="Debug" value="DarkGray"/>
      <option category="color" id="Info" value="Green"/>
      <option category="color" id="Error" value="DarkRed"/>
      <option category="color" id="Fatal" value="Red"/>
    </target>
    <target id="fileConfig" logTarget ="file" format="${datetime} | ${level} | ${message} | ${callerFileName} : ${callerLineNumber}">
      <option category ="fileName" value="./logs/LogFile.txt"/>
      <option category ="archiveFileName" value ="./logs/archive/log.{#}.txt"/>
      <option category ="archiveRolling" value ="Day"/>
      <option category ="maxArchiveFiles" value ="7"/>
      <option category ="keepOpenFile" value="true"/>
      <option category ="autoFlush" value="true"/>
    </target>
    <target id="databaseConfig" logTarget="database">
        <database dbConnection ="Server=127.0.0.1; Port=3306; Database=; Uid=; Pwd=;"
                dbProvider="MySqlConnector.MySqlConnection, MySqlConnector"
                keepConnectionOpen ="true"
                dbCommand="insert into log (logged_time, level, message, callsite)
									    values (@logged_time, @level, @message, @callsite);">
            <option category="parameter" id="@level" value="${level}"></option>
            <option category="parameter" id="@logged_time" value="${datetime}"></option>
            <option category="parameter" id="@message" value="${message}"></option>
            <option category="parameter" id="@callsite" value="${callerFileName} : ${callerLineNumber}"></option>
        </database>
    </target>
  </targets>
  <loggers>
    <logger id="consoleConfig" loggerName ="" minLogLevel="Debug"></logger>
    <logger id ="fileConfig" loggerName ="" minLogLevel="Info"></logger>
    <!--<logger id ="databaseConfig" loggerName="" minLogLevel="Fatal"></logger>-->
  </loggers>
</configuration>
